[submodule "moonlight-common-c"]
	path = moonlight-common-c
	url = https://github.com/JimothySnicket/moonlight-common-c.git
	branch = moonlight-mic
[submodule "moonlight-qt"]
	path = moonlight-qt
	url = https://github.com/JimothySnicket/moonlight-qt.git
	branch = moonlight-mic
[submodule "Apollo"]
	path = Apollo
	url = https://github.com/JimothySnicket/Apollo.git
	branch = moonlight-mic
